releases/
.vscode/
SASLFree/64
SASLFree/liblinux
SASLFree/changelog.txt
SASLFree/License
SASLFree/version.txt
SASLFree/data/output
SASLFree/data/api
SASLFree/data/init
SASLFree/data/components
SASLFree/data/modules/3rd-modules
SASLFree/data/modules/configuration/widgetResources
SASLFree/data/modules/configuration/readme.txt
SASLFree/data/modules/configuration/wprefs.ini
SASLFree/data/state.txt